
*.lnk
Msvbvm50.exe
*.bak
sc.dll
*.url
errors.txt
\!_Pack_Rex.bat
cooked/
scripts/beta_date.script
\!_Pack_&StartGame.bat
\!_Send_2_Dedicated.bat
scripts.pak
.pack_dev_cere.bat
output.txt
output.log
/as_linter/build
/msc_transpiler/__pycache__
/msc_transpiler/commands/__pycache__
/msc_transpiler/tests/__pycache__
/msc_transpiler/pipeline/__pycache__
/msc_transpiler/output/__pycache__
/msc_transpiler/expressions/__pycache__
/angelscript_output
lint_report.json
lint_report.txt
transpiler_errors.log
/_tmp_as_fixcheck
