name: manual release

on:
	workflow_dispatch:

build:
  runs-on: windows-latest

  steps:
    uses: actions/checkout@v2

    - name: compile scripts
      run: pack_dev.bat

     - name: upload binaries
        uses: actions/upload-artifact@v2
        with:
          name: release binary
          path: ./sc.dll